.auth-container {
  display: flex;
  height: 100vh;
  background: #7b63f4; /* main purple */
}

.auth-left {
  flex: 1.2;
  color: white;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
}

.auth-left p {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.9;
}

.auth-right {
  flex: 1;
  background: white;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.auth-box input,
.auth-box select {
  height: 45px;
  border-radius: 6px;
  border: 1px solid #d5d5d5;
  padding-left: 12px;
  font-size: 15px;
}

.auth-btn {
  height: 48px;
  background: #6a4ff7;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #5239d4;
}

.switch-text {
  text-align: center;
  margin-top: 10px;
}
